// header
.titleBar {
    border: 3px solid $f2eW1-first;
    width: 456px;
    margin: 0 auto;
}

// content
.countainer {
    margin: 0 auto;
    width: 460px;
}

.progressbar {
    ul {
        margin: 64px auto;
        width: 234px;
        height: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before {
            content: "";
            border: 2px solid #BEE1FF;
            transform: rotate(0deg);
            position: absolute;
            width: 100%;
            margin-top: 6px;
        }
        &::after {
            content: "";
            border: 2px solid #0275D8;
            transform: rotate(0deg);
            position: absolute;
            width: 35%;
            margin-top: 6px;
        }
        li {
            float: left;
            z-index: 100;
            width: 10px;
            i {
                background-color: #fff;
                color: #BEE1FF;
            }
        }
    }
}

.progressbar li{
     .currt i {
         color: $f2eW1-first;
     }
}

.row {
    display: flex;
    margin-top: 24px;
}

.col-6{
    label {
        font-size: 20px;
        color: $f2eW1-second;
        letter-spacing: 0;
    }

    input {
        margin-top: 8px;
        width: 100%;
        height: 52px;
        background: $f2eW1-third;
        border: 2px solid $f2eW1-second;
        border-radius: 8px;
    }
    select{
        margin-top: 8px;
        width: 100%;
        height: 52px;
        background: $f2eW1-third;
        border: 2px solid $f2eW1-second;
        border-radius: 8px;
    }
}

.col6-left{
    margin-right: 20px;
}
.col6-right{
    position: relative;
    width: 50%;
    i{
        position: absolute;
        line-height: 60px;
        right: 16px;
        display: none;
    }
}

.area{
    margin-top: 22px;
}

.row-birthday{
    display:flex;
    justify-content: space-between;
    margin-top: 24px;
}
.col-4{
    label{
            font-size: 20px;
            color: #000000;
            letter-spacing: 0;
            
    }
    select{
            margin-top: 8px;
            background: #FFFFFF;
            border: 2px solid #000000;
            border-radius: 8px;
            width: 100%;
            height: 52px;
    }
}
 .month {
     margin: 22px 20px 0 20px;
     width: 33.33333%;
 }

 .date {
     margin-top: 22px;
     width: 33.33333%;
 }

 .detail{
     margin: 0;
 }
 .col-12 {
     position: relative;
     margin-top: 24px;
     width: 100%;
     i {
         position: absolute;
         line-height: 4;
         right: 20px;
         display: none;
     }
 }

.button {
    .col-6{
        display: flex;
        justify-content: space-around;
        background: $f2eW1-fourth;
        border: 2px solid $f2eW1-fourth;
        border-radius: 8px;
        width: 100%;
        height: 52px;
        font-size: 20px;
        text-align: center;
        line-height: 52px;
        a {
            color: $f2eW1-third;
            text-decoration: none;
        }
    }
}

.btn-next2 {
  position: relative;
  margin-right: 20px;
      i {
          position: absolute;
          line-height: 52px;
          right: 40px;
          color: $f2eW1-third;
      }
}
  


.btn-previous{
    margin-right: 20px;
    i{
        padding-right: 20px;
        color: $f2eW1-third;
    }
}