extends _layout.jade

block index
    
    #header
      .titleBar
    #content
      .countainer
        .progressbar
          ul.step
            li.step.step1
              .currt1 <i class="far fa-dot-circle"></i>
            li.step.step2
              <i class="far fa-circle"></i>
            li.step.step3
              <i class="far fa-circle"></i>
            li.step.step4
              <i class="far fa-circle"></i>
        h1.title Create Account
        h3.subtitle Glad see you here!
        form(action='', method='post', enctype='application/x-www-form-urlencoded')
          .row
            .col-12
              label(for='account') Account
              input#account(type='email', name='account' placeholder="example@email.com")
              <i class="fas fa-exclamation-triangle"></i>
          .row
            .col-12
              label(for='password') Password
              input#password(type='password', name='' placeholder="●●●●●●●●")
              <i class="fas fa-exclamation-triangle"></i>
          .row
            .col-12
              label(for='comfirm') Comfirm Password
              input#comfirm(type='password', name='' placeholder="●●●●●●●●")
              <i class="fas fa-exclamation-triangle"></i>
          .row
            .col-12
              button(type="submit" class="btn-next")
                a(href="info.html") NEXT
                <i class="fas fa-angle-right"></i>
                
               


      
    



        
    