extends _layout.jade

block picture
    
    #header
      .titleBar
    #content
      .countainer
        .progressbar
          ul.step
            li.step.step1
              .currt <i class="fas fa-check-circle"></i>
            li.step.step2
              .currt <i class="fas fa-check-circle"></i>
            li.step.step3
              .currt <i class="far fa-dot-circle"></i>
            li.step.step4
              <i class="far fa-circle"></i>
        h1.title.title-picture Update Profile Picture
        h3.subtitle We wanna know you more!
        .row
          .col-12.imgfile.clearfix
            .file
              label(for="img")
              input(type="file", name="" id="img")
            <i class="fas fa-images"></i>
            .font
              p.title UPLOAD UP TO 3 PHOTOS
              P.subtitle MAX SIZE: 150*150PX
        .row.button
            .col-6.btn-previous
              .btn
                <i class="fas fa-angle-left"></i>
                a(href="index.html") PREVIOUS
            .col-6.btn-next2
              .btn
                <i class="fas fa-angle-right"></i>
                a(href="info.html") NEXT